.pulse.main {
    min-height: 336px;
}

.interface-selector .available.streetwise, .port-container .unavailable-port.streetwise {
    margin: 0;
    width: 48px;
    height: 40px;
    background-image: url("/images/port-pulse.png");
}

.interface-selector.invalid {
    border: 1px solid red;
}

.interface-selector .streetwise {
    background-image: url("/images/port-pulse.png");
}

.pulse .network-settings > li {
    position: relative;
    margin: 8px;
    font-size: 12px;
    min-height: 40px;
}

.pulse label input[type="radio"] {
    margin: 10px 19px 0px 5px;
}

.pulse .desc {
    margin-top: 20px;
}

.pulse .desc li {
    font-size: 13px;
    margin-top: 5px;
}

.pulse .interface-selector {
    padding: 10px;
    background-color: #E5E5EB;
    border: 1px solid #B1B1B1;
    box-shadow: none;
    margin-bottom: 16px;
    display: inline-block;
}

.interface-selector .available.streetwise, .port-container .unavailable-port.streetwise {
    background-image: url("/images/port-pulse.png");
}

.administration .nav .pulse:before {
    content: url("/images/white-pulse.png");
    position: absolute;
    top: 14px;
    left: 12px;
}

.administration .nav .pulse.selected:before {
    content: url("/images/gray-pulse.png");
}