<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Ixia Cyber Range</title>
	<link rel="shortcut icon" href="static/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="static/css/default.css" />
	<link rel="stylesheet" type="text/css" href="static/js/build.css" />
    <link rel="stylesheet" type="text/css" href="static/css/jquery-hotspotter-1.7.7.min.css" />
    <!--[if lte IE 10]>
    <link rel="stylesheet" type="text/css" href="static/css/ie.css" media="all"/>
    <![endif]-->
    <!--[if lte IE 9]>
    <style type="text/css">
        .small-round-button,
        .small-round-button:hover,
        .light-round-button,
        .light-round-button:hover
        { filter: none; }
    </style>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="static/css/autoSuggest.css" media="all"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<body>
	<div id="main">
		<div id="header">
			<div class="navigation">
				<div class="container">
					<div class="bar">
						<div class="ixia-logo" data-bind="click: showDashboard">
                            <img src="static/images/ixia_logo.png" title="{% trans %}Ixia{% endtrans %}" alt="{% trans %}Ixia{% endtrans %}" />
                            <div class="model">Core {{ model | safe }}</div>
                        </div>
						<ul class="tabs">
							<!-- this has to be on one line in order to not have an annoying space between elements -->
							<li data-bind="attr: { 'class': dashboardTabClass }, click: showDashboard">
                                {% trans %}DASHBOARD{% endtrans %}
                            </li>
                            <li data-bind="attr: { 'class': testLibraryTabClass }, click: showTestLibrary">
	                            {% trans %}TEST LIBRARY{% endtrans %}
                            </li>
                            <li data-bind="attr: { 'class': historyTabClass }, click: showHistory">
	                            {% trans %}HISTORY{% endtrans %}
                            </li>
	                        <li data-bind="attr: { 'class': administrationTabClass }, click: showAdministration">
	                            {% trans %}ADMINISTRATION{% endtrans %}
	                        </li>
						</ul>
						<div class="admin_notification" data-bind="visible: vmGlobalSettings.admin_notifier() != 0, text: vmGlobalSettings.admin_notifier()"></div>
						<ul class="account">
							<li><span data-bind="text: user"></span></li>
							<li><a href="http://www.ixiacom.com" id="support">{% trans %}Help{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/logout" class="logout">{% trans %}Log Out{% endtrans %}</a></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard" data-bind="visible: selectedTab() == 'dashboard', template: {name: dashboardTemplateName(), data: vmDashboard, templateEngine: new ko.nativeTemplateEngine }"></div>
		<div class="testLibrary" data-bind="visible: selectedTab() == 'testLibrary', template: {name: testLibraryTemplateName(), data: vmTest, templateEngine: new ko.nativeTemplateEngine }"></div>
		<div class="history" data-bind="visible: selectedTab() == 'history', template: {name: historyTemplateName(), data: vmHistory, templateEngine: new ko.nativeTemplateEngine }"></div>
		<div class="administration" data-bind="visible: selectedTab() == 'administration'"></div>
	</div>
	<div class="ie-initialization" style="display: none;">
		<div class="box"></div>
	</div>
	<script id="placeholder-template" type="text/html"></script>

    <script type="text/javascript">
        CyberRange = {
            build_number: "{{global_vars.build_number}}",
            log_level: "{{global_vars.ui_log_level}}",
            language: '{{ language }}',
            debug: {{ 'true' if request.registry.settings.debug else 'false' }},
            features: [{{ global_vars.features|safe }}],
            model: "{{ model|safe }}"
        };
    </script>
    <script type="text/javascript" src="static/lib/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="static/lib/jquery-ui-1.8.21.full.min.js"></script>
    <script type="text/javascript" src="static/lib/jquery.tmpl.js"></script>
	<script type="text/javascript" src="static/lib/jquery.blockui.js"></script>
	<script type="text/javascript" src="static/lib/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="static/lib/knockout-2.1.0.debug.js"></script>
	<script type="text/javascript" src="static/lib/ko.observableDictionary.js"></script>
	<script type="text/javascript" src="static/lib/fileuploader.js"></script>
	<script type="text/javascript" src="static/lib/jquery.cookie.js"></script>
	<script type="text/javascript" src="static/lib/jquery.tweet.js"></script>
	<script type="text/javascript" src="static/lib/jquery.autoSuggest.js"></script>
	<script type="text/javascript" src="static/lib/jstz.min.js"></script>
    <script type="text/javascript" src="static/lib/jquery-hotspotter-1.7.7.min.js"></script>
	<script type="text/javascript" src="static/js/history.js"></script>
	<script type="text/javascript" src="static/js/textBox.js"></script>
	<script type="text/javascript" src="static/js/scratch.js"></script>
	<script type="text/javascript" src="static/js/slider.js"></script>
	<script type="text/javascript" src="static/js/chart-poller.js"></script>
	<script type="text/javascript" src="static/js/jquery.scroller.js"></script>
	<script type="text/javascript" src="static/js/jquery.timer.js"></script>
	<script type="text/javascript" src="static/js/functions.js"></script>

	<script type="text/javascript" src="static/js/view-models/history-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/global-settings-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/lightbox-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/lightbox-error-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/validation-results-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/test-device-port-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/test-sidebar-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/test-traffic-setting-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/test-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/test-results-view-model.js"></script>
	<script type="text/javascript" src="static/js/view-models/test-documentation-view-model.js"></script>
	<script type="text/javascript" src="static/js/custom-binding-handlers/custom-binding-handlers.js"></script>

	<script type="text/javascript" src="static/lib/jquery.flot.custom.js"></script>
	<script type="text/javascript" src="static/lib/jquery.flot.navigate.js"></script>
	<script type="text/javascript" src="static/js/chart.flot.js"></script>
	<script type="text/javascript" src="static/js/results-table.js"></script>

    <script class="loader">
        var $this = document.querySelector('script.loader');
        var s = document.createElement('script');
        s.async = true;
        //s.src = window.location.search.match(/debug$/) ? 'static/js/build.js' : 'static/js/build.min.js';
        s.src = 'static/js/build.js';
        s.onload = function () {
	        window.util = require('./components-ixia/utility-functions');
	        require('./components-ixia/boot')(CyberRange);
        };
        $this.parentNode.insertBefore(s, $this.nextSibling);
	</script>

    <!-- Keep this at the bottom! - JS -->
    <!--
    <script type="text/javascript" src="static/lib/freshwidget.js"></script>
    <script type="text/javascript">
        FreshWidget.init("", {
            "queryString": "&widgetType=popup&helpdesk_ticket[custom_field][build_number_89418]=" + build_number + "",
            "widgetType": "popup",
            "buttonType": "text",
            "buttonText": "Help",
            "buttonColor": "white",
            "buttonBg": "#3b3b3b",
            "alignment": "3",
            "offset": "-10000px",
            "formHeight": "500px",
            "screenshot": false,
            "url": "http://www.ixiacom.com"
        });

        document.querySelector('#support').onclick = function (e) {
            e.preventDefault();
            FreshWidget.show();
            return false;
        };
    </script>
    -->
</body>
</html>
