{% extends "login_base.jinja2" %}
{% block content %}
<html>
<head>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <title>Spirent Axon</title>
        <link rel="stylesheet" type="text/css" href="static/css/login.css" media="all"/>
        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="static/css/login-ie.css" media="all"/>
        <!-- <![endif] -->
         <script type="text/javascript">
            Axon = {
                build_number: "{{global_vars.build_number}}",
                log_level: "{{global_vars.ui_log_level}}",
                language: '{{ language }}',
                debug: {{ 'true' if request.registry.settings.debug else 'false' }},
                features: [{{ global_vars.features|safe }}]
            };
        </script>
        <script type="text/javascript" src="static/lib/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="static/js/textBox.js"></script>
        <script type="text/javascript" src="static/js/functions.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('body').on("focus", "input", function(){
                    $(this).data('holder',$(this).attr('placeholder'));
                    $(this).attr('placeholder','');
                });
                $('body').on("blur", "input", function(){
                    $(this).attr('placeholder',$(this).data('holder'));
                });
                $('#login').click(function () {
                    $('#login-form').submit();
                });

                $('#login').keyup(function (event) {
                    if (event.keyCode == 32) {
                        $('#login-form').submit();
                    }
                });

                $('.remember-me-label').click(function () {
                    $('#remember-me').click();
                });

                $('.remember-me-label').keyup(function (event) {
                    if (event.keyCode == 32) {
                        $('#remember-me').click();
                    }
                });
                $('.override-user-label').click(function () {
                    $('#override-user').click();
                });

                $('.override-user-label').keyup(function (event) {
                    if (event.keyCode == 32) {
                        $('#override-user').click();
                    }
                });
                $('input').keydown(function(event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        $("#login").trigger('click');
                    }
                });
                // remove below: just for testing

                // lifted from: http://stackoverflow.com/questions/901115/get-query-string-values-in-javascript
                var urlParams = {};
                (function () {
                    var match,
                            pl     = /\+/g,  // Regex for replacing addition symbol with a space
                            search = /([^&=]+)=?([^&]*)/g,
                            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                            query  = window.location.search.substring(1);

                    while (match = search.exec(query))
                        urlParams[decode(match[1])] = decode(match[2]);
                })();

                if (urlParams.showerror == 'true') {
                    $('.error').show();
                }
                // remove above: just for testing
                if (BrowserDetect.browser==="Internet Explorer" && BrowserDetect.version < 9){
                    $('#loginContainer').hide();
                    $('#browserWarning').show();
                    $('.error-code').html('IE '+BrowserDetect.version);
                    $('.browserName').html(BrowserDetect.browser);
                    $('.browserVersion').html(BrowserDetect.version);
                }
            });
        </script>
    </head>
    <body>
    <div class="logo">
        <img src="static/images/spirent_axon_logo_black_large.png"/>
    </div>
    <div id="browserWarning">
        <h1>
            <div class="error-label">{% trans %}Error:{% endtrans %}</div>
            <div class="error-code"></div>
            <div class="error-type">{% trans %}You are using an unsupported browser.{% endtrans %}</div>
        </h1>
        <p>
            {% trans %}You are using{% endtrans %} <span class="browserName"></span>&nbsp;<span class="browserVersion"></span>.  {% trans %}Unfortunately, this browser is not supported by Axon.  Please download one of the browsers below to continue using Axon.{% endtrans %}
        </p>
        <p id="browserList">
            <a href="http://www.google.com/chrome" target="_blank">{% trans %}Google Chrome{% endtrans %}</a><br>
            <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">{% trans %}Mozilla Firefox{% endtrans %}</a><br>
        </p>
    </div>
    <div class="box login-box" id="loginContainer">
        <form id="login-form" class="container" method="post" action="/login">
            {% if message %}
                <div class="error section">
                    <h2>{% trans %}ERROR{% endtrans %}</h2>
                    <p>{{ message|safe }}</p>
                </div>
            {% endif %}
            {% if current_user %}
                <div class="error section">
                    <p>{% trans user=current_user.full_name %}{{ user }} is currently logged in to the system.{% endtrans %}</p>
                </div>
            {% endif %}
            <div class="section">
                <div id="input-label">{% trans %}Username:{% endtrans %}</div>
                <input class="text-box login-text-box default" id="username" name="username" type="email" value="{{ username or "" }}" placeholder="{% trans %}Username{% endtrans %}"/>
            </div>
            <!--<div class="section"><div class="text-box login-text-box default" id="password-placeholder" type="text" onclick="showPassword()">PASSWORD</div><input class="text-box login-text-box" id="password" name="password" type="password" value=""/></div>-->
            <div class="section password-container">
                <div id="input-label">{% trans %}Password:{% endtrans %}</div>
                <input class="text-box login-text-box default" id="password" name="password" type="password" placeholder="{% trans %}Password{% endtrans %}"/>
            </div>
            <div class="login-container"><span class="button-outer login-button"><a id="login" class="button" href="javascript:void(0);">{% trans %}LOGIN{% endtrans %}</a></span></div>
            <div class="remember-me-container"><input class="checkbox" id="remember-me" name="remember_me" value="1" type="checkbox" /><a class="remember-me-label" href="javascript:void(0);">{% trans %}REMEMBER ME{% endtrans %}</a></div>
            {% if invoke_override and message %}
            <div class="override-container"><input class="checkbox" id="override-user" name="override_user" value="1" type="checkbox" /><a class="override-user-label" href="javascript:void(0);">{% trans %}OVERRIDE USER{% endtrans %}</a></div>
            {% endif %}
            <div class="clear"></div>
        </form>
    </div>
    </body>
    </html>

{% endblock %}