<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/eula.css" media="all"/>
</head>
<body>
<div class="logo">
    <img src="static/images/ixia_cr_logo_black_large.png"/>
</div>
<div class="box" id="manuContainer">
    <form id="manufacturing-reset-form" class="container" method="post" action="/ixia/manufacturing_reset">
        <h1>
            {% trans %}Warning, by clicking the button below, this Cyber Range device will be reset to factory defaults. This reset includes
            deleting all tests that have been run previously and resetting the EULA.{% endtrans %}
        </h1>
        <br /> <br />
        <div style="text-align: center; width: 100%;">
            <input type="submit" name="reset_axon" value="Reset Device" style="padding: 10px" onclick="if(confirm('{% trans %}By agreeing, you will lose all data. Are you sure?{% endtrans %}')); else return false;"/>
        </div>
    </form>
</div>
</body>
</html>
