<div class="recorder single-pane history">
    <div><h1 class="title"></h1></div>
    <div>
        <div class="body">
            <h2>View history</h2>
            <div class="loading">Loading</div>
            <div class="error hidden">Error loading results <a href="#">Retry</a></div>
            <ul class="captures"></ul>
            <div class="capture-batch-operator"></div>
            <div class="capture-paginator"></div>
        </div>
    </div>
    <div class="footer">
        <ul class="padding">
            <li class="progress">
            </li><li class="action">
            </li><li class="action">
            </li><li class="action">
            </li><li>
                <button class="toggle button dark done"><span>Done</span></button>
            </li>
        </ul>
    </div>
</div>