<div class="recorder single-pane view">
    <div><h1 class="title"></h1></div>
    <div>
        <div class="body">
            <h2 class="device"></h2>
            <ul>
                <li class="selector"></li>
                <li class="stop-criteria"><label>Stop after</label> <span>N/A</span></li>
                <li class="filter"><label>Capture packets that match</label> <span>N/A</span></li>
                <li class="truncate-packets"><label>Truncate packets at</label> <span>N/A</span></li>
            </ul>
        </div><div class="last-capture"></div>
    </div>
    <div class="footer">
        <ul class="padding">
            <li class="progress">
            </li><li class="action">
                <a class="delete" href="#">Delete</a>
            </li><li class="action">
                <a class="history" href="#">History</a>
            </li><li class="action">
                <a class="duplicate" href="#">Duplicate</a>
            </li><li>
                <button class="toggle button dark start"><span>Record</span></button>
            </li>
        </ul>
    </div>
</div>