<li>
    <label class="vlan">{% trans %}VLAN ID{% endtrans %}</label>
    <input type="text" name="vlan_id" class="vlan" data-bind="value: vlan_id" placeholder="1 to 4096"/>
    <span class="save small-round-button-outer"><a class="small-round-button"><img src="images/save.png" title="{% trans %}Save{% endtrans %}" alt="{% trans %}Save{% endtrans %}"/></a></span>
</li>
<li class="selector dhcpContainer">
    <input type="radio" value="false"/>
    <label class="dhcp"> {% trans %}No DHCP{% endtrans %}</label>

    <input type="radio" value="v4"/>
    <label class="dhcp normalCase"> {% trans %}DHCPv4{% endtrans %}</label>

    <input type="radio" value="v6"/>
    <label class="dhcp normalCase"> {% trans %}DHCPv6{% endtrans %}</label>
</li>
<li class="dhcp dhcp-hosts">
    <label class="dhcpHosts">{% trans %}Number of hosts{% endtrans %}</label>
    <input type="text" name="dhcp_hosts"/>
</li>
<li class="static ip">
    <label class="startingIpAddress">{% trans %}test.configuration.tmpl.jinja2.Starting_IP{% endtrans %}</label>
    <input type="text" name="starting_ip" placeholder="IPv4 or IPv6"/>
</li>
<li class="static end_ip">
    <label>{% trans %}test.configuration.tmpl.jinja2.Ending_IP{% endtrans %}</label>
    <input type="text" name="ending_ip" placeholder="IPv4 or IPv6" />
</li>
<li class="static prefix">
    <label>{% trans %}Prefix{% endtrans %}</label>
    <input type="text" name="prefix" placeholder="1 to 128" />
</li>
<li class="static gateway">
    <label>{% trans %}Gateway{% endtrans %}</label>
    <input type="text" name="gateway" placeholder="IPv4 or IPv6" />
</li>