<script id="administration-template" type="text/html">
    <div class="container">
        <ul class="nav box">
            <li class="devices" data-bind="attr: {'class': devicesTabClass}, click: function () { refreshDevices(); }">{% trans %}Devices{% endtrans %}</li>
            <li class="ports" data-bind="attr: {'class': portTabClass}, click: function () { selectTab('ports'); }">{% trans %}Ports{% endtrans %}</li>
            <li class="change-password" data-bind="attr: {'class': changePasswordTabClass}, click: function () { selectTab('change password'); }">{% trans %}Change Account{% endtrans %}</li>
            <li class="update" data-bind="attr: {'class': upgradeLocationTabClass}, click: function () { selectTab('upgrade location'); }">
                <div class="admin_update_notification" data-bind="visible: globalSettingsVm.admin_notifier() != 0, text: globalSettingsVm.admin_notifier()"></div>{% trans %}Update{% endtrans %}
            </li>
            <li class="language" data-bind="attr: {'class': languageTabClass}, click: function () { selectTab('language'); }">{% trans %}Language{% endtrans %}</li>
            <li class="system" data-bind="attr: {'class': systemSettingsTabClass}, click: function () { selectTab('system settings'); }">{% trans %}System Settings{% endtrans %}</li>
        </ul>
        <div class="main landing" data-bind="visible: noTabSelected">
            <ul>
                <li>
                    <span class="light-round-button-outer">
                        <a class="light-round-button" href="javascript:void(0);" data-bind="click: function () {refreshDevices();}">
                            <img src="static/images/table.png" alt="{% trans %}devices{% endtrans %}" title="{% trans %}devices{% endtrans %}" />
                        </a>
                    </span>
                    <h4>{% trans %}Devices{% endtrans %}</h4>
                </li>
                <li data-bind="attr: {'class': portTabClass}">
                    <span class="light-round-button-outer">
                        <a class="light-round-button" href="javascript:void(0);" data-bind="click: function () { selectTab('ports'); }">
                            <img src="static/images/monitoring-large.png" alt="{% trans %}ports{% endtrans %}" title="{% trans %}ports{% endtrans %}" />
                        </a>
                    </span>
                    <h4>{% trans %}Ports{% endtrans %}</h4>
                </li>
                <li>
                    <span class="light-round-button-outer">
                        <a class="light-round-button" href="javascript:void(0);" data-bind="click: function () { selectTab('change password'); }">
                            <img src="static/images/lock-large.png" alt="{% trans %}change password{% endtrans %}" title="{% trans %}change password{% endtrans %}" />
                        </a>
                    </span>
                    <h4>{% trans %}Change Account{% endtrans %}</h4>
                </li>
                <li>
                    <div class="admin_update_notification" data-bind="visible: globalSettingsVm.admin_notifier() != 0, text: globalSettingsVm.admin_notifier()"></div>
                    <span class="light-round-button-outer">
                        <a class="light-round-button" href="javascript:void(0);" data-bind="click: function () { selectTab('upgrade location'); }">
                            <img src="static/images/globe.png" alt="{% trans %}update{% endtrans %}" title="{% trans %}update{% endtrans %}" />
                        </a>
                    </span>
                    <h4>{% trans %}Update{% endtrans %}</h4>
                </li>
                <li>
                    <span class="light-round-button-outer">
                        <a class="light-round-button" href="javascript:void(0);" data-bind="click: function () { selectTab('language'); }">
                            <img src="static/images/lang-large.png" alt="{% trans %}language{% endtrans %}" title="{% trans %}language{% endtrans %}" />
                        </a>
                    </span>
                    <h4>{% trans %}Language{% endtrans %}</h4>
                </li>
                <li>
                    <span class="light-round-button-outer">
                        <a class="light-round-button" href="javascript:void(0);" data-bind="click: function () { selectTab('system settings'); }">
                            <img src="static/images/cog-large.png" alt="{% trans %}system settings{% endtrans %}" title="{% trans %}system settings{% endtrans %}" />
                        </a>
                    </span>
                    <h4>{% trans %}System Settings{% endtrans %}</h4>
                </li>
            </ul>
        </div>
        <div class="main" id="devicesMain" data-bind="visible: devicesTabSelected">
            <div class="item-list" data-bind="visible: deviceListVisible">
                <h3>{% trans %}Devices{% endtrans %}</h3>
                <h4 data-bind="text: availableDevicesSummary"></h4>
                <ul data-bind="foreach: availableDevices">
                    <li class="item" data-bind="attr: { 'id': displayNameCssId }, css: { hidden: id() == 1}">
                        <ul>
                            <li class="edit-link"><a data-bind="click: openSaveModal, clickBubble: false">{% trans %}Edit &raquo;{% endtrans %}</a></li>
                            <li class="delete-link"><a data-bind="click: util.warningLightbox.bind(ixiaCRVm.vmAdministration, '{% trans %}Are you sure you want to delete this device?{% endtrans %}', deleteDevice.bind($data)), clickBubble : false">{% trans %}Delete &raquo;{% endtrans %}</a></li>
                            <li><label>{% trans %}Device Address{% endtrans %}</label><span data-bind="text: host"></span></li>
                            <li><label>{% trans %}Access Link{% endtrans %}</label><span data-bind="text: link"></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main" data-bind="visible: portsTabSelected">
            <div class="port-table">
                <h3>{% trans %}Ports{% endtrans %}</h3>
                <table>
                    <thead>
                        <tr>
                            <td>Slot #</td>
                            <td>Port 1</td>
                            <td>Port 2</td>
                            <td>Port 3</td>
                            <td>Port 4</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: availablePorts">
                        <tr>
                            <td data-bind="text: slot"></td>
                            <td>
                                <img src="static/images/port-available.png" data-bind="click: selectedPort, clickBubble: false, visible: port0 == 'available' && status()[0] == '0'">
                                <img src="static/images/port-pulse.png" data-bind="click: selectedPort, clickBubble: false, visible: port0 == 'reserved'">
                                <img src="static/images/port-selected.png" data-bind="click: selectedPort, clickBubble: false, visible: port3 == 'selected' || status()[0] == '1'">
                            </td>
                            <td>
                                <img src="static/images/port-available.png" data-bind="click: selectedPort, clickBubble: false, visible: port1 == 'available' && status()[1] == '0'">
                                <img src="static/images/port-pulse.png" data-bind="click: selectedPort, clickBubble: false, visible: port1 == 'reserved'">
                                <img src="static/images/port-selected.png" data-bind="click: selectedPort, clickBubble: false, visible: port3 == 'selected' || status()[1] == '1'">
                            </td>
                            <td>
                                <img src="static/images/port-available.png" data-bind="click: selectedPort, clickBubble: false, visible: port2 == 'available' && status()[2] == '0'">
                                <img src="static/images/port-pulse.png" data-bind="click: selectedPort, clickBubble: false, visible: port2 == 'reserved'">
                                <img src="static/images/port-selected.png" data-bind="click: selectedPort, clickBubble: false, visible: port3 == 'selected' || status()[2] == '1'">
                            </td>
                            <td>
                                <img src="static/images/port-available.png" data-bind="click: selectedPort, clickBubble: false, visible: port3 == 'available' && status()[3] == '0'">
                                <img src="static/images/port-pulse.png" data-bind="click: selectedPort, clickBubble: false, visible: port3 == 'reserved'">
                                <img src="static/images/port-selected.png" data-bind="click: selectedPort, clickBubble: false, visible: port3 == 'selected' || status()[3] == '1'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main" id="changePasswordMain" data-bind="visible: changePasswordTabSelected">
            <div>
                <h3>{% trans %}Change system password{% endtrans %}</h3>
                <ul class="single-pane change-password">
                    <li id="oldPasswordList"><label>{% trans %}Old password{% endtrans %}</label>
                        <input class="long" type="password" id="oldPassword" data-bind="validateOldPassword: $data"/>
                        <span class="error" data-bind="visible: validateOldPassword()==='FAILURE'">X&nbsp;&nbsp;{% trans %}Your password is incorrect. Please try again.{% endtrans %}</span>
                        <span class="validated" data-bind="visible: validateOldPassword()==='SUCCESS'">✔&nbsp;&nbsp;{% trans %}Your old password is correct.{% endtrans %}</span>
                    </li>
                    <li><label>{% trans %}New password{% endtrans %}</label><input id="newPassword" class="long" type="password" data-bind="validateNewPassword: $data" /></li>
                    <li id="newPasswordList"><label>{% trans %}Verify new password{% endtrans %}</label><input id="newPasswordVerify" class="long" type="password" data-bind="validateNewPassword: $data" />
                        <span class="error" data-bind="visible: validateNewPassword()==='error'">X&nbsp;&nbsp;{% trans %}Your passwords do not match. Please try again.{% endtrans %}</span>
                        <span class="validated" data-bind="visible: validateNewPassword()==='confirmed'">✔&nbsp;&nbsp;{% trans %}Your passwords match. Click the "Save" button to save this password.{% endtrans %}</span>
                    </li>
                </ul>
                <a class="add-button" href="javascript:void(0);" data-bind="click: function () { addAccount(); }, clickBubble: false">
                    {% trans %}+ Add Account{% endtrans %}
                </a>
                <a class="save-button" href="javascript:void(0);" data-bind="click: changePassword, clickBubble: false">{% trans %}Save{% endtrans %}</a>
            </div>
        </div>
        <div class="main" id="languageMain" data-bind="visible: languageTabSelected">
            <div>
                <h3>{% trans %}Language{% endtrans %}</h3>
                <ul class="single-pane set-language">
                    <li>
                        <label>{% trans %}Language{% endtrans %}</label>
                        <div class="light-select2 option-wrapper" data-bind="attr: {'data-value': languageDisplay }">
                            <select id="lanuage" data-bind="value: language">
                                <option value="en">English</option>
                                <option value="zh">中文</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <a class="save-button" href="javascript:void(0);" data-bind="click: setLanguage, clickBubble: false">{% trans %}Save{% endtrans %}</a>
            </div>
        </div>
        <div class="main" id="upgradeLocationMain" data-bind="visible: upgradeLocationTabSelected, blockUpdatesUI: {}">
            <div>
                <h3>{% trans %}Update{% endtrans %}</h3>
                <div class="single-pane no-padding" data-bind="visible: globalSettingsVm.availableUpdate().newest_build != null">
                    <h4>{% trans %}Update System{% endtrans %}</h4>
                    <ul>
                        <li>
                            <p>{% trans %}Current Build:{% endtrans %} <span data-bind="text:globalSettingsVm.currentBuild()"></span></p>
                            <p>{% trans %}Newest Build:{% endtrans %} <span data-bind="text:globalSettingsVm.availableUpdate().newest_build"></span></p>
                        </li>
                        <li style="width:98%">
                            <div class="admin-button" data-bind="click: runLightboxWarning.bind($data, 'Warning:<br /><br />Updating can take up to 45 minutes. After the update begins you will be logged out. During this time, please avoid shutting down the Axon. You will be able to log in again after the update has completed.<br /><br />If you have problems, please <a href=\'http://www.ixiacom.com\' target=\'_blank\'>contact support</a>.<br />', beginUpgrade.bind($data)), clickBubble: false">
                                <span>{% trans %}Begin update{% endtrans %}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="single-pane no-padding" data-bind="visible: globalSettingsVm.availableUpdate().newest_build == null">
                    <h4>{% trans %}Update System{% endtrans %}</h4>
                    <ul>
                        <li>
                            <p>{% trans %}Cyber Range is up to date.{% endtrans %}</p>
                            <p>{% trans %}Current Build:{% endtrans %} <span data-bind="text:globalSettingsVm.currentBuild()"></span></p>
                        </li>
                        <li style="width:98%">
                            <div class="admin-button check-offline">
                                <span>{% trans %}Check for offline update{% endtrans %}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main" id="systemSettingsMain" data-bind="visible: systemSettingsTabSelected">
            <div>
                <h3>{% trans %}CYBER RANGE SYSTEM SETTINGS{% endtrans %}</h3>
                <div class="error section" data-bind="visible: globalSettingsVm.validationResult() && !globalSettingsVm.validationResult().is_valid">
                    <div class="container" data-bind="foreach: globalSettingsVm.validationResult() ? globalSettingsVm.validationResult().messages : []">
                        <h2>{% trans %}There are validation errors with your device configuration:{% endtrans %}</h2>
                        <ul class="validation-list" data-bind="visible: content.length > 0, foreach: content">
                            <li data-bind="text: $data"></li>
                        </ul>
                    </div>
                </div>
                <div  class="single-pane no-padding">
                    <h4>{% trans %}CYBER RANGE Network Information{% endtrans %}</h4>
                    <ul>
                        <li><label>{% trans %}Hostname{% endtrans %}</label><input type="text" data-bind="value: globalSettingsVm.hostname, attr: { 'disabled': 'disabled' }" /></li>
                        <li><label>{% trans %}Address{% endtrans %}</label><input type="text" name="host" data-bind="value: globalSettingsVm.host, attr: { 'disabled': 'disabled' }" /></li>
                        <li><label>{% trans %}Netmask/Prefix{% endtrans %}</label><input type="text" name="netmask" data-bind="value: globalSettingsVm.chassisPrefix, attr: { 'disabled': 'disabled' }" /></li>
                        <li><label>{% trans %}Gateway{% endtrans %}</label><input type="text" name="gateway" data-bind="value: globalSettingsVm.gateway, attr: { 'disabled': 'disabled' }" /></li>
                    </ul>
                </div>
                <div class="single-pane no-padding half-width last no-top-margin">
                    <h4>{% trans %}System Logs{% endtrans %}</h4>
                    <ul>
                        <li class="floatNone"><div id="systemLogs" data-bind="click:getSystemLogs" class="admin-button">{% trans %}Download system logs{% endtrans %}</div></li>
                    </ul>
                </div>
                <div class="single-pane no-padding">
                    <h4>{% trans %}Reboot CYBER RANGE{% endtrans %}</h4>
                    <ul>
                        <li>
                            <p>{% trans %}This will physically reboot your Cyber Range box. The process can take as long as 15 minutes.{% endtrans %}</p>
                        </li>
                        <li style="width:98%">
                            <div class="admin-button" data-bind="click: runLightboxWarning.bind($data, '{% trans %}Are you sure you want to reboot Cyber Range?<br><br> This could take up to 15 minutes.{% endtrans %}', rebootChassis.bind($data)), clickBubble: false">
                                <span>{% trans %}Reboot{% endtrans %}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="single-pane no-padding">
                    <h4>{% trans %}Shutdown CYBER RANGE{% endtrans %}</h4>
                    <ul>
                        <li>
                            <p>{% trans %}This will physically shutdown your Cyber Range box.{% endtrans %}</p>
                        </li>
                        <li style="width:98%">
                            <div class="admin-button" data-bind="click: runLightboxWarning.bind($data, '{% trans %}Are you sure you want to shutdown Cyber Range?{% endtrans %}', shutdownChassis.bind($data)), clickBubble: false">
                                <span>{% trans %}Shutdown{% endtrans %}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--<a class="save-button" href="javascript:void(0);" data-bind="click: saveGlobalSettings, clickBubble: false">{% trans %}Save{% endtrans %}</a>-->
            </div>
        </div>
    </div>
</script>
