<script id="testLibrary-template" type="text/html">
    <div class="container">
        <div class="l-portlet-column column" data-bind="template: {name: 'tl-portlet-column-template', foreach: leftPortlets, templateEngine: new ko.nativeTemplateEngine}">
        </div>
        <div class="r-portlet-column column" data-bind="template: {name: 'tl-portlet-column-template', foreach: rightPortlets, templateEngine: new ko.nativeTemplateEngine }">
        </div>
        <div class="clear"></div>
        <div id="preloadImages"></div>
    </div>
</script>

<script id="tl-portlet-column-template" type="text/html">
    <!-- ko if: contentType() == 4 -->
    <!-- ko if: templateId() == 'recent-news-template' -->
    <div class="portlet box" data-bind="template: {name: 'test-cases-portlet-template', data: $data, templateEngine: new ko.nativeTemplateEngine }">
    </div>
    <!-- /ko -->
    <!-- ko if: templateId() == 'enterprise-security-cases-template' -->
    <div class="portlet box" data-bind="template: {name: 'enterprise-security-cases-portlet-template', data: $data, templateEngine: new ko.nativeTemplateEngine }">
    </div>
    <!-- /ko -->
    <!-- ko if: templateId() == 'host-security-cases-template' -->
    <div class="portlet box" data-bind="template: {name: 'host-security-cases-portlet-template', data: $data, templateEngine: new ko.nativeTemplateEngine }">
    </div>
    <!-- /ko -->
    <!-- /ko -->

</script>

<script id="enterprise-security-cases-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content">
        <ul class="security-cases" data-bind="visible: enterpriseTests().length > 0, foreach: enterpriseTests">
            <li data-bind="click: function () { rootVm.loadTest($data) }, clickBubble: false">
                <h3 data-bind="text: name"></h3>
                <p data-bind="text: type"></p>
            </li>
        </ul>
    </div>
</script>

<script id="host-security-cases-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content">
        <ul class="security-cases" data-bind="visible: enterpriseTests().length > 0, foreach: hostTests">
            <!-- ko if: $index() < 10 -->
            <li data-bind="click: function () { rootVm.loadTest($data) }, clickBubble: false">
                <h3 data-bind="text: name"></h3>
                <p data-bind="text: type"></p>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</script>

<script id="test-cases-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content">
        <div class="test-cases" data-bind="visible: $root.testResultsHistory().length > 0">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>{% trans %}Name{% endtrans %}</td>
                    <td>{% trans %}Date{% endtrans %}</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: testResultsHistory">
                <!-- ko if: $index() < 10 -->
                <tr data-bind="click: function () { loadRecentTest(); }, clickBubble: false, attr: {class: endResult() == 'error' ? 'fail' : endResult}">
                    <td>
                        <img data-bind="visible: endResult() == 'pass', attr: {alt: endResult}" src="static/images/pass-light.png" />
                        <img data-bind="visible: endResult() == 'completed', attr: {alt: endResult}" src="static/images/unrated-light.png" />
                        <img data-bind="visible: endResult() == 'fail' || endResult() == 'error', attr: {alt: endResult}" src="static/images/fail-light.png" />
                        <img data-bind="visible: endResult() == 'aborted' || endResult() == 'incomplete', attr: {alt: endResult}" src="static/images/no-light.png" />
                    </td>
                    <td>
                        <h4 data-bind="text: name" class="name"></h4>
                        <p data-bind="text: template_name" class="category"></p>
                    </td>
                    <td data-bind="text: dateFormatted" class="date"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        </div>
    </div>
</script>
<!--
<script id="twitter-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content tweet" data-bind="attr: {'data-twitter-username': portletContent}"></div>
</script>
-->