<script id="testLibrary-template" type="text/html">
    <div class="container">
        <div class="l-portlet-column column" data-bind="template: {name: 'tl-portlet-column-template', foreach: leftPortlets, templateEngine: new ko.nativeTemplateEngine}">
        </div>
        <div class="r-portlet-column column" data-bind="template: {name: 'tl-portlet-column-template', foreach: rightPortlets, templateEngine: new ko.nativeTemplateEngine }">
        </div>
        <div class="clear"></div>
        <div id="preloadImages"></div>
    </div>
</script>

<script id="tl-portlet-column-template" type="text/html">
    <!-- ko if: contentType() == 4 -->
    <!-- ko if: templateId() == 'recent-news-template' -->
    <div class="portlet box" data-bind="template: {name: 'test-cases-portlet-template', data: $data, templateEngine: new ko.nativeTemplateEngine }">
    </div>
    <!-- /ko -->
    <!-- ko if: templateId() == 'enterprise-security-cases-template' -->
    <div class="portlet box" data-bind="template: {name: 'enterprise-security-cases-portlet-template', data: $data, templateEngine: new ko.nativeTemplateEngine }">
    </div>
    <!-- /ko -->
    <!-- ko if: templateId() == 'host-security-cases-template' -->
    <div class="portlet box" data-bind="template: {name: 'host-security-cases-portlet-template', data: $data, templateEngine: new ko.nativeTemplateEngine }">
    </div>
    <!-- /ko -->
    <!-- /ko -->

</script>

<script id="enterprise-security-cases-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content">
        <ul class="security-cases" data-bind="visible: enterpriseTests().length > 0, foreach: enterpriseTests">
            <li data-bind="click: function () { rootVm.loadTest($data) }, clickBubble: false">
                <h3 data-bind="text: name"></h3>
            </li>
        </ul>
    </div>
</script>

<script id="host-security-cases-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content">
        <ul class="security-cases" data-bind="visible: hostTests().length > 0, foreach: hostTests">
            <!-- ko if: $index() < 10 -->
            <li data-bind="click: function () { rootVm.loadTest($data) }, clickBubble: false">
                <h3 data-bind="text: name"></h3>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</script>

<script id="test-cases-portlet-template" type="text/html">
    <h2 style="text-align:center">
        <span data-bind="text: selectedTest().name"></span>
    </h2>
    <div class="portlet-content">
        <div class="test-case" data-bind="visible: selectedTest() != 'null'">
            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="run">
                                <img src="static/images/test-player-play-button.png" class="test-play-button" data-bind="click: selectedTest().runTest, clickBubble: false, visible: selectedTest().status() != 'RUNNING'">
                                <img src="static/images/test-player-stop-button.png" class="test-stop-button" data-bind="click: selectedTest().cancelTest, clickBubble: false, visible: selectedTest().status() == 'RUNNING'">
                            </div>
                        </td>
                        <td>
                            <div class="run">
                                <img src="static/images/dark-download.png" class="test-play-button" data-bind="click: selectedTest().downloadReports, clickBubble: false">
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2"><h2>{% trans %}Description{% endtrans %}</h2></th>
                    </tr>
                    <tr>
                        <th colspan="2" data-bind="html: selectedTest().description" style="text-align:left" ></th>
                    </tr>
                    <tr>
                        <td><h2>{% trans %}Red Team Objective{% endtrans %}</h2></td>
                        <td><h2>{% trans %}Blue Team Objective{% endtrans %}</h2></td>
                    </tr>
                    <tr>
                        <td data-bind="html: selectedTest().attack_task" style="text-align:left" ></td>
                        <td data-bind="html: selectedTest().defense_task" style="text-align:left" ></td>
                    </tr>
                    <tr>
                        <td><h2>{% trans %}Red Team Key Artifacts{% endtrans %}</h2></td>
                        <td><h2>{% trans %}Blue Team Key Artifacts{% endtrans %}</h2></td>
                    </tr>
                    <tr>
                        <td data-bind="html: selectedTest().attack_steps" style="text-align:left" ></td>
                        <td data-bind="html: selectedTest().defense_steps" style="text-align:left" ></td>
                    </tr>
                    <tr>
                        <td><h2>{% trans %}Red Team Quiz{% endtrans %}</h2></td>
                        <td><h2>{% trans %}Blue Team Quiz{% endtrans %}</h2></td>
                    </tr>
                    <tr>
                        <td data-bind="html: selectedTest().attack_criteria" style="text-align:left" ></td>
                        <td data-bind="html: selectedTest().defense_criteria" style="text-align:left" ></td>
                    </tr>
                    <tr>
                        <th colspan="2"><h2>{% trans %}Topology{% endtrans %}</h2></th>
                    </tr>
                    <tr>
                        <th colspan="2"><img data-bind="attr: {'src':selectedTest().topology_image, 'alt':'Topology', 'title':selectedTest().name}"/></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
<!--
<script id="twitter-portlet-template" type="text/html">
    <h2>
        <span data-bind="text: name"></span>
    </h2>
    <div class="portlet-content tweet" data-bind="attr: {'data-twitter-username': portletContent}"></div>
</script>
-->