<ul class="global-settings">
    <li>
        <label>Use</label>
        <span class="light-select2">
            <select class="protocol"></select>
        </span>
    </li>
    <li>
        <label for="active_timeout">Active timeout</label>
        <input type="text" name="active_timeout" id="active_timeout" /> seconds
    </li>
    <li>
        <label for="inactive_timeout">Inactive timeout</label>
        <input type="text" name="inactive_timeout" id="inactive_timeout" /> seconds
    </li>
</ul>