@charset "UTF-8";

.transmit-receive-container .endpoint-container {
    position: relative;
    padding: 3px 3px 3px 3px;
    background-color: #1c1c1d;
    border-radius: 3px;
    border-bottom: solid 1px #414142;
    box-shadow: inset 0px 7px 7px #161616;
}

.endpoint-container .form {
    background-color: #3c3c3d;
    font-family: "open sans", arial, sans-serif;
    font-size: 11px;
    border-radius: 2px;
    border-top: solid 1px #505050;
    padding: 10px;
    color: #dbdbdb;
}

.save-lightbox .save.small-round-button-outer {
    display: none;
}

.test .expanded .endpoint-container .save {
    float: right;
}

.test .expanded .endpoint-container .save a {
    display: block;
    height: 15px;
    width: 15px;
}

.test .expanded .endpoint-container li:not(.enable) {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    min-height: 4em;
}

.test .expanded .endpoint-container li:first-child {
    margin-top: auto;
}
.test .expanded .endpoint-container li:last-child {
    margin-bottom: auto;
}

.test .expanded .endpoint-container li.selector {
    min-height: 2em;
    line-height: 3em;
}

.test .expanded .endpoint-container li.enable label {
    width: auto;
    line-height: 2em;
}

.test .expanded .endpoint-container .enable + li {
    margin-top: 1em;
}

.test .endpoint-container [type="radio"] {
    margin-right: 0.1em;
    vertical-align: -1px;
}
.test .endpoint-container [type="checkbox"] {
    margin-right: 0.1em;
}

.test .expanded .endpoint-container li > label:first-child {
    vertical-align: -1px;
    display: inline-block;
}

.test .expanded .endpoint-container li > input {
}

.test .expanded .endpoint-container label:first-child {
    width: 58px;
}

.test .expanded .dhcpContainer {
    width: 100%;
    white-space: nowrap;
    line-height: 4em;
}
.test .expanded .dhcpContainer label {
    width: auto;
    margin-right: 1em;
    font-size: 10px;
}

.test .expanded .endpoint-container input[type="text"]{
    width: 109px;
}

.test .expanded .endpoint-container input.vlan {
    width: 54px;
}