<div class="pulse main">
    <div>
        <h3>Pulse</h3>
        <button class="save-button save">Save</button>
    </div>
    <div class="desc">
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="single-pane no-padding global">
        <h4>Endpoint Configuration</h4>
        <ul>
            <li class="status">
                <label for="pulse-on">Enable</label>
                <input type="radio" class="enable" id="pulse-on" name="status">
                <label for="pulse-off">Disable</label>
                <input type="radio" class="disable" id="pulse-off" name="status">
            </li>
            <li class="settings hidden">

            </li>
        </ul>
    </div>
</div>