<div class="endpoint-pane" data-bind="visible: is_selected">
    <section>
        <ul class="form">
            <li class="enable"><label><input type="checkbox" id="enable"> Enable this port</label></li>
            <li>
                <label class="vlan">VLAN ID</label>
                <input type="text" name="vlan_id" class="vlan" data-bind="value: vlan_id" placeholder="1 to 4096">
                <span class="save small-round-button-outer"><a class="small-round-button"><img src="images/save.png" title="Save" alt="Save"></a></span>
            </li>
            <li class="selector dhcpContainer">
                <input type="radio" value="false" data-bind="checked: use_dhcp">
                <label class="dhcp"> No DHCP</label>

                <input type="radio" value="v4" data-bind="checked: use_dhcp">
                <label class="dhcp normalCase"> DHCPv4</label>

                <input type="radio" value="v6" data-bind="checked: use_dhcp">
                <label class="dhcp normalCase"> DHCPv6</label>
            </li>
            <li data-bind="visible: use_dhcp() != 'false'" class="dhcp dhcp-hosts">
                <ul>
                    <label class="dhcpHosts">Number of hosts</label>
                    <input type="text" name="dhcp_hosts" data-bind="value: dhcp_hosts">
                </ul>
            </li>
            <li data-bind="visible: use_dhcp() == 'false'">
                <ul>
                    <li class="static ip">
                        <label class="startingIpAddress">Starting IP</label>
                        <input type="text" name="starting_ip" placeholder="IPv4 or IPv6" data-bind="value: ip">
                    </li>
                    <li class="static end_ip">
                        <label>Ending IP</label>
                        <input type="text" name="ending_ip" placeholder="IPv4 or IPv6" data-bind="value: end_ip">
                    </li>
                    <li class="static prefix">
                        <label>Prefix</label>
                        <input type="text" name="prefix" placeholder="1 to 128" data-bind="value: prefix">
                    </li>
                    <li class="static gateway">
                        <label>Gateway</label>
                        <input type="text" name="gateway" placeholder="IPv4 or IPv6" data-bind="value: gateway">
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>